/* body{
    background: white;
    color: white;
} */
/*------------------estilos del header*/
/* .header{
    height: 60px;
} */
/* .header .container{
    display: flex;
    justify-content: space-between;
} */
/*------------------estilos del menu*/
/* #contenedor{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1200px;
    height: 800px;
    background-color:white ;
} */
