/* font converted using font-converter.net. thank you! */
/*https://www.youtube.com/watch?v=FMtXsp6WRrw*/
/* Las variables deben declararse dentro de un selector
   Se acostumbra usar :root para que la variable sea global
   Se declaran con dos guiones y el nombre
   Para utilizarlas se usa la funcion var() y entre
   los paréntesis se escribe el nombre de la variable
*/

:root {
    --NombreEmpresa: 'My-Place';
    --DominioEmpresa: 'my-place.com.co';
    --ColorOscuroDegradado: #3069b3;
    --ColorClaroDegradado: #0089CF;
    --ColorTextoMarca:#FFFFFF;
}
@font-face {
  font-family: "Avenir-Book";
  src: url("./fonts/AvenirBook.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AvenirBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AvenirBook.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AvenirBook.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AvenirBook.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AvenirBook.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AvenirBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mark-Heavy";
  src: url("./fonts/Mark-Heavy.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Mark-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Mark-Heavy.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Mark-Heavy.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Mark-Heavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Mark-Heavy.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Mark-Heavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Avenir-Book";
  font-size: 105%;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
}
.topmargin-xs{margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}

.rightmargin-sm{margin-right: 40px;}
.bg-company {
  /* background-color: #2DC3E4 !important; */
  background-image:-moz-linear-gradient(to right, var(--ColorOscuroDegradado), var(--ColorClaroDegradado) );
  background-image: linear-gradient(to right, var(--ColorOscuroDegradado), var(--ColorClaroDegradado) );
  /* NO hay background general para todos los navegadores*/
}
.navbar {
  /* background-color: #2DC3E4; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  min-height: 100px;
}
.nav-link {color: #ffffff; }
.nav-link:hover {color: rgb(74, 68, 72); }
.logo-brand {
  min-width: 160px;
  max-width: 180px;
}
.navbar-toggler {font-size: 40px; }
.navbar-toggler:focus {outline: none; }
.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
.carousel-item img {
  border-radius: 2px;
  border: solid #000000 2px;
  max-width: 100%;
  height: 600px;
}

.col img {
  border-radius: 2px;
  border: solid #000000 2px;
  max-width: 100%;
  height: 300px;
}
.form-check-input {
  display: none;
}


label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: rgb(36, 221, 49);
}

:checked+label::before {
  content: "✓";
  background-color: green;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  border-radius: 50%;
}
#submit-button-home {
  display: flex;
  flex-direction: row-reverse;
  /* margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5%;
  margin-left: 900px; */
}

#footer {
  padding: 80px 0;
  text-align: center;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
}
#footer a:hover {
  color: #ffffff;
}
#footer .list-inline .list-inline-item {
  padding: 10px 15px;
}

/* Estilos de la vista filtros */
aside{
    max-width: 600px;
    min-width: 100px;
    height: 500px;
    float: right;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center; /*esta opcion es solo para el titulo VIVIENDAS no para los resultados que arroje la busqueda */

}

#FILTROS {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100px;
  height: 500px;
  background: #0089CF;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.container-sin-margen {
  margin-left: 0px;
  margin-right: 0px;
}
.btn-group {
  margin-left: 0px;
  max-width: 40px;
}
<!-- seccion de los rangos 6-nov -->


input
{
  box-shadow: 0;
  outline: 100;
}
.price-slider{
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}
.price-slider svg,
.price-slider input[type=range]{
  position: absolute;
  left: 0;
  bottom: 0;
}
input[type=number]{
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range{
  border: 2px solid #e60023;
}
input[type=range]{
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus{
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track{
  background: #1da1f2;
}
input[type=range]:focus::-ms-fill-lower{
  background: #1da1f2;
}
input[type=range]:focus::-ms-fill-upper{
  background: #1da1f2;
}
input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s
  background: #1da1f2;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb{
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1da1f2 ;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track{
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #1da1f2
  border-radius 1px;
  box-shadow: none
  border: 0;
}
input[type=range]::-moz-range-thumb{
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #1da1f2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type=range]::-ms-track{
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper{
  background: #1da1f2;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb{
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #1da1f2;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
<!-- seccion de los rangos 7-nov -->

body {
    position: relative;

    display: flex;

    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.range {
    width:500px;
    height:10px;

    border-radius: 4px;
    background-color: #ddd;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 50%;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: #999;
}
.range__between
{
  position: absolute;
    height: 5px;
    width:0px;
    margin-top:3px;
    border: none;
    background-color: #559933;
}
.range_inpt1, .range_inpt2
{
  margin-top:20px;
  width: 50px;
}
